In [1]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os

os.chdir('/content/drive/My Drive')

In [0]:
data = pd.read_csv('creditcard.csv')

In [4]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [0]:
X = np.array(data[["Time", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8","V9", "V10", "V11","V12", "V13", "V14","V15","V16","V17","V18", "V19","V20","V21","V22","V23","V24","V25","V26","V27","V28","Amount"]])
y = np.array(data[["Class"]])

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [7]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(256, activation='relu', input_shape=X_train[0].shape))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='relu'))


model.summary()

Using TensorFlow backend.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 256)               7936
_________________________________________________________________
dense_2 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 65
=================================================================
Total params: 49,153
Trainable params: 49,153
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss='mean_squared_error',
              optimizer='sgd',
              metrics=['accuracy'])

In [9]:
model.fit(X_train, y_train, epochs=10, batch_size=100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10
190820/190820 [==============================] - 9s 47us/step - loss: 0.0018 - acc: 0.9982
Epoch 2/10
190820/190820 [==============================] - 6s 33us/step - loss: 0.0018 - acc: 0.9982
Epoch 3/10
190820/190820 [==============================] - 6s 33us/step - loss: 0.0018 - acc: 0.9982
Epoch 4/10
190820/190820 [==============================] - 6s 32us/step - loss: 0.0018 - acc: 0.9982
Epoch 5/10
190820/190820 [==============================] - 6s 32us/step - loss: 0.0018 - acc: 0.9982
Epoch 6/10
190820/190820 [==============================] - 6s 32us/step - loss: 0.0018 - acc: 0.9982
Epoch 7/10
190820/190820 [==============================] - 6s 32us/step - loss: 0.0018 - acc: 0.9982
Epoch 8/10
190820/190820 [==============================] - 6s 33us/step - loss: 0.0018 - acc: 0.9982
Epoch 9/10
190820/190820 [==============================] - 6s 32us/step - loss: 0.0018 - acc: 0.9982
Epoch 10/10
190820/190820 [==============================] - 6s 32us/step - loss: 0.0018 - acc: 0.9982

In [10]:
model.evaluate(X_test, y_test)

y_pred = model.predict(X_test)

93987/93987 [==============================] - 4s 38us/step
[0.0015853256301403386, 0.9984146743698596]